@*<nav class="navbar navbar-inverse"></nav>*@
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            @Html.ActionLink("iTunes Finder", "Search", "Searches", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Search", "Search", "Searches")</li>
            <li>@Html.ActionLink("Clicks", "Summary", "Clicks")</li>
        </ul>
    </div>
</nav>